{% extends 'base.html' %}

{% block title %}Все услуги 1C - Комплексная автоматизация бизнеса{% endblock %}

{% block content %}
<section class="services-page">
    <div class="container">

        <div class="services-page__header">
            <h1 class="services-page__title">Дополнительные функции конфигурации в отличии от типовой версии 1С УНФ</h1>             
            <h2>Номенклатура (26)</h2>
            <ul>
              <li>Генерация уникального штрихкода номенклатуры с префиксом организации, например, MX12312312. Используется для создания единого штрихкода для разных маркетплейсов. (1)</li>
              <li>Хранение и печать дополнительных штрихкодов для разных маркетплейсов. Используется, когда на каждом маркетплейсе используется свой ШК. (6)</li>
              <li>Возможность автоматической генерации артикула номенклатуры по связке Бренд + Модель + Цвет (3)</li>
              <li>Форма поиска использования номенклатуры в существующих спецификациях (2)</li>
              <li>Документы качества. Хранение сертификатов соответствия и деклараций о соответствии в 1С с подробной информацией и “сканами” документов. Автоматическая привязка сертификатов к номенклатуре по связке Производитель + Состав + Тип документа качества. Возможность печати информации из сертификатов на этикетках на товары. (8)</li>
              <li>Контроль заполнения всех необходимых полей в обработке печати этикеток. (2)</li>
              <li>Отчет Цены номенклатуры - выводит по размерно все цены по указанному Виду цен. (2)</li>
              <li>Автоматическая установка Закупочных цен номенклатуры по последней цене закупа. (2)</li>
            </ul>
          
            <h2>Производство (53)</h2>
            <ul>
              <li>Возможность указывать время операций в спецификациях в секундах (а не в часах). (10)</li>
              <li>Маршрутные карты для производства. В маршрутных картах отражается порядок операций для производства изделий, сотрудники выполняющие операции наносят личные штрихкоды на маршрутную карту. После выпуска продукции бухгалтер сканированием подбирает документ производства и отмечает сотрудников, работающих над изделиями. Им начисляется зарплата по сделке. (16)</li>
              <li>Упрощенная форма ввода сдельных нарядов с контролем плана по производству и ранее занесенных сдельных нарядов. (4)</li>
              <li>Возможность планировать производство продукции по дням. Отчеты для сравнения плана и факта. (16)</li>
              <li>Фиксация количества брака по сдельным нарядам по исполнителям/номенклатуре/типу брака. (3)</li>
              <li>Отчет План/факт сдельных нарядов по документам Производство - позволяет проверить, что на всю произведенную продукцию заведены сдельные наряды. (2)</li>
              <li>Отчет Себестоимость выпуска - сравнение с ценой (МИ) - позволяет сравнить полученную Себестоимость выпуска продукции с установленной ценой в 1С, например, с Нормативной себестоимостью. (2)</li>
            </ul>
          
            <h2>Склад (6)</h2>
            <ul>
              <li>Статусы Принят и Отгружен в документе Перемещения запасов. Для возможности без включения ордерной схемы своевременно списать товар с одного склада и принять на другом только после его реального поступления. При каждом проведении контролируются права сотрудников на склады на котором меняется остаток. (6)</li>
            </ul>
          
            <h2>Маркировка (23)</h2>
            <ul>
              <li>Возможность частичной печати кодов маркировки из заказа, не всех сразу. (2)</li>
              <li>Печать штрихкода номенклатуры на этикетке с маркировкой, а не GTIN. (3)</li>
              <li>Возможность работать (эмиссия, ввод в оборот) с кодами маркировки принадлежащим разным организациям, даже если в 1С используется одна организация. (6)</li>
              <li>Контроль заполнения кодов маркировки при создании Расходной накладной. (2)</li>
              <li>Возможность повторной печати выбранного кода маркировки. (2)</li>
              <li>Контроль особых прав при проведении Списаний и Оприходований товаров. Права назначаются отдельно, например, только бухгалтерам. (2)</li>
            </ul>
          
            <h2>Продажи (5)</h2>
            <ul>
              <li>Автоматическое создание Расходной накладной при смене состояния Заказа покупателя в Отгружен/Завершен. (5)</li>
            </ul>
          
            <h2>Маркетплейсы (168)</h2>
            <ul>
              <li>Полный цикл работы с заказами Вайлдберриз по схеме FBS из 1С при сдаче поставок на Склад ВБ:
                <ul>
                  <li>Поштучная сборка заказов</li>
                  <li>Групповая сборка заказов (одновременно собирается много заказов)</li>
                  <li>Сборка маркированных заказов</li>
                  <li>Печать стикеров на заказы 1С</li>
                  <li>Формирование и завершение поставок FBS с печатью ШК поставки</li>
                  <li>Отмена заказов FBS</li>
                  <li>Настройка ассортимента товаров для выгрузки остатков для продажи по FBS</li>
                  <li>Возможность работы с несколькими кабинетами по FBS одновременно (60)</li>
                </ul>
              </li>
              <li>Поставки по схеме FBO на Вайлдберриз и Озон
                <ul>
                  <li>Документ Поставка хранит в себе состав каждой поставки, с количеством коробов, ШК коробов и ШК поставки.</li>
                  <li>Возможность через выгрузку/загрузку наполнять короба и сопоставлять их с ШК в ЛК Вайлдбериз и 1С.</li>
                  <li>Печать ШК коробов и ШК поставки из 1С для Вайлдберриз. (16)</li>
                </ul>
              </li>
              <li>Автоматическая еженедельная загрузка отчета реализации Вайлдберриз. (30)</li>
              <li>Возможность загрузки отчет реализации Вайлдберриз из файлов, когда отчеты не возвращаются по API. (3)</li>
              <li>Автоматическая загрузка отчета реализации Озон FBO. (30)</li>
              <li>Обработка Расчет потребности на МП для Вайлдберриз. Получает остатки товаров на ВБ, продажи за последние 7 дней, исходя из этого считает среднедневное потребление и определяет сколько товаров нужно отправить на указанное количество дней. (24)</li>
            </ul>
          
            <h2>Закупки (10)</h2>
            <ul>
              <li>Возможность учета Кратности заказа и Минимального заказа на товары у поставщиков при оформлении Заказа поставщику. (4)</li>
              <li>Вывод на печать Заказа поставщику в номенклатуре поставщика. (2)</li>
              <li>Автоматический пересчет единиц измерения при печати Заказа поставщику в номенклатуре поставщика, если номенклатура в базе 1С и у поставщика учитывается в разных единицах измерения. Например, ткань в 1С учитывается в метрах, а поставщик ее поставляет в килограммах. (3)</li>
              <li>Запрет проводить Приходные накладные без регистрации цен поставщиков. (1)</li>
            </ul>
          
            <h2>Персонал (36)</h2>
            <ul>
              <li>Возможность назначать сотрудникам, которые работают по сделке, Грейды и доплачивать премию в % от выполненной работы. (5)</li>
              <li>Возможность назначать надбавку сотрудникам, которые работают по сделке, за изготовление “новинок”, товаров с которыми они еще не работали. Например, надбавка 10% за пошив первых 30 шт. платьев новой модели. (5)</li>
              <li>Возможность автоматически назначать премию за переработки в зависимости от количества переработок. Например, по табелю сотрудник должен был отработать 160 часов, а по сдельным нарядам отработал на 200 часов. (24)</li>
              <li>Добавлена возможность в документе Начисление зарплаты начислять ЗП по выбранной группе сотрудников (а не всем сразу). (2)</li>
            </ul>
          
            <h2>Дополнительно (31)</h2>
            <ul>
              <li>Возможность автоматической выгрузки платежных поручений в банк. (8)</li>
              <li>Возможность автоматически разбирать полученные банковские выписки и создать документы - Расход со счета, Поступление на счет. (16)</li>
              <li>Контроль работоспособности регламентных фоновых заданий 1С. В случае ошибок информация отправляется администратору на почту. (4)</li>
              <li>Возможность подключаться к разным банкам через разные прокси-сервера. (3)</li>
            </ul>
          
            <h2>API (46)</h2>
            <ul>
              <li>Создание Расход из кассы, Поступление в кассу, Перемещение денег (16)</li>
              <li>Поиск информации о контрагенте по ИНН (4)</li>
              <li>Создание Платежного поручения (6)</li>
              <li>Создание Отчета комиссионера о списании (4)</li>
              <li>Получение цены номенклатуры по артикулу (4)</li>
              <li>Получение информации по номенклатуре с остатками и ценами (12)</li>
            </ul>
        </div>

    </div>
</section>
{% endblock %} 